
bin/Debug/Useful_Autoclicker.exe
*.pdb
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/
bin/
bin/Debug/Useful_Autoclicker.exe
bin/Debug/Useful_Autoclicker.pdb
obj/Debug/App.baml
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/Useful_Autoclicker.exe
obj/Debug/Useful_Autoclicker.g.resources
obj/Debug/Useful_Autoclicker.pdb
